html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
hr {
  width: 100%;
}
.Home {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.PreviewContainer {
  height: 100vh;
  overflow-y: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}
.EditorContainer {
  min-width: 300px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}
.InputItem {
  margin-left: auto;
}
.InputItem > input {
  margin-left: 8px;
  min-width: 250px;
}
.Preview {
  width: 210mm;
  min-height: 297mm;
  padding: 2cm 1cm;
  margin-left: auto;
  margin-right: auto;
}
.BorderTop {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  padding-top: 10px;
}
#preview_fullName {
  font-size: 32pt;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
}
.Contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 11pt;
  margin-bottom: 10px;
}
.ExtraLink {
  color: blue;
}
.Intro {
  font-size: 10pt;
  /* font-style: italic; */
  text-align: center;
  color: #333;
}
.Section {
  display: flex;
  flex-direction: column;
}
.SectionHeader {
  margin-bottom: 4px;
  text-transform: uppercase;
  text-align: left;
  font-size: 16pt;
}
.Item {
  display: flex;
  flex-direction: column;
}
.ItemTitle,
.ItemSubTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ItemTitle p,
.ItemSubTitle p {
  padding: 0;
  margin: 0;
}
.ItemSubTitle {
  font-size: 10pt;
}
.ItemTitle {
  font-weight: bold;
  font-size: 11pt;
}
.ItemTitle p:first-child {
  text-transform: uppercase;
}
.Highlights {
  padding-left: 6px;
  margin-top: 5px;
}
.Highlights li {
  font-size: 10pt;
  margin-left: 10px;
  text-align: left;
}
.link {
  color: blue;
  font-size: 10pt;
  width: fit-content;
}
.textareaContainer, .extraLinksContainer {
  display: flex;
  flex-direction: column;
}
.textareaContainer > label, .extraLinksContainer > label {
  text-align: right;
}
.textareaContainer > textarea {
  font-size: 11pt;
  max-width: 1043px;
}
#preview_extraLinks {
    margin-bottom: 10px;
}
.SectionAccordion {
    margin-bottom: 10px;
}
.SectionAccordion > summary {
    text-align: right;   
}
.SectionAccordion > summary > input {
    width: 250px;
    font-weight: bold;
    font-size: 18px;
}
.deleteBtn {
    color: white;
    background-color: red;
    border: 0;
    cursor: pointer;
    padding: 4px 9px;
}
.AccordionContent {
    display: flex;
    flex-direction: column;
}
.addExtraLinkBtn {
    color: white;
    background-color: blue;
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
    margin-top: 10px;
}
.Toolbar {
    background-color: brown;
    height: 54px;
    margin-bottom: 15px;
    padding: 10px;
    color: white;
    display: flex;
}
.toolbarBtn {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}
.toolbarBtn:hover {
    text-decoration: underline;
}
@page { 
  margin-top: 0;
  margin-bottom: 0;
}
.HighlightAccordion > summary {
  text-align: right;
}
.infoContainer {
  display: flex;
  flex-direction: column;
}
.linkInputContainer {
  display: flex;
  flex-direction: column;
}
.linkInputContainer > label {
  font-size: 12px;
  text-align: right;
}
.extraLinkDetails > summary {
  text-align: right;
}
.deleteItemBtn{
  width: fit-content;
  color: white;
  background-color: red;
  margin-left: auto;
  margin-top: 10px;
  cursor: pointer;
}